/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 1.1em;
    color: #555555;
    background-color: #eeeeee;
    text-align: left;
    line-height: 1.3em;
    margin: 0;
    text-shadow: #fff 0 0 1px;
}

body p {
    font-family: Century Gothic, sans-serif;
}
body ul {
    font-family: Century Gothic, sans-serif;
    padding-left: 30px;
}

.row {
    background-color: #ffffff;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    -moz-box-shadow: 1px 0 20px #dddddd;
    -webkit-box-shadow: 1px 0 20px #dddddd;
    box-shadow: 1px 0 20px #dddddd;
    overflow: hidden;
}

.content, .header {
    padding-left: 10%;
    padding-right: 10%;
    font-family: Century Gothic, sans-serif;
}



.title {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 20px 0 20px 0;
}

.subtitle {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    text-align: center;
    font-size: 1em;
    font-style: italic;
}

.postdetails {
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 25px;
}

body h1 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 2em; text-align: center; padding-bottom: 0px; margin-bottom: 0px;
}

body h2 { font-size: 1.6em; }

body h3 { font-size: 1em; }

body a { color: #4086AA;}

#footer {
    background-color: #DADADA;
    border-bottom: 3px double #BBBBBB;
    border-top: 3px double #BBBBBB;
    text-align:center;
    font-style: italic;
    margin-top: 30px;
}

#footer a {
    color: #555555;
}
#footer a:hover {
    color: #333333;
    text-decoration: underline;
}

#footer ul {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin: 0;
    padding: 10px 0 6px;
}

#footer li{
    display: inline;
    margin: 0 15px;
    font-size: 1.4em;
}

#copyright {
    text-align: center;
    padding: 15px 0 15px 0;
    font-style: italic;
}

#copyright p {
    margin: 0;
}


@media only screen and (max-width: 767px) {
.content, .header {
    padding-left: 5%;
    padding-right: 5%;
}
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


